<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="#">ProjectHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/add-project">Add Project</a>
        </li>
        
      </ul>
      <form class="d-flex" role="search" >
        <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <div class="auth-btns">
       <% if (user) { %>
        <a href="/user/logout">Logout</a>
        <% } else { %>
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>