<% layout("./Boilerplate.ejs") %>

<div class="row">
  <form action="/user/signup" method="POST" class="col-6 offset-3 mt-2 add-form needs-validation" novalidate>
    <h4><span class="text-primary mb-2">Sign Up</span> Form</h4>
    <hr />
    <div class="mb-2">
      <label for="email" class="form-label mb-1">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Enter the email ..."
        required
      />
      <div class="valid-feedback">
        Good title
      </div>
      <div class="invalid-feedback">
        Email is required
      </div>
    </div>
    <div class="mb-2">
      <label for="username" class="form-label mb-1">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter the username ..."
        required
      />
      <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Username is required
      </div>
    </div>
    <div class="mb-2">
      <label for="password" class="form-label mb-1">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Enter the password ..."
        required
      />
      <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        password is required
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary mb-3 mt-3">SignUp</button>
  </form>
</div>


